/*
960px grid system ~ Core CSS.
10 Columns ~ Margin left: 10px ~ Margin right: 10px

Based on the 960.gs grid system - http://960.gs/
by Nathan Smith

Created by the Grid System Generator - v1.04
Learn more ~ http://www.gridsystemgenerator.com/
*/

/*
Forces backgrounds to span full width,
even if there is horizontal scrolling.
Increase this if your layout is wider.

Note: IE6 works fine without this fix.
*/
body {
	min-width: 960px;
}

/* =Containers
--------------------------------------------------------------------------------*/
.container_10
{
	margin-left: auto;
	margin-right: auto;
	width: 960px;
}

/* =Grid >> Global
--------------------------------------------------------------------------------*/
.grid_1,
.grid_2,
.grid_3,
.grid_4,
.grid_5,
.grid_6,
.grid_7,
.grid_8,
.grid_9,
.grid_10 {
	display: inline;
	float: left;
	margin-left: 10px;
	margin-right: 10px;
}

.push_1, .pull_1,
.push_2, .pull_2,
.push_3, .pull_3,
.push_4, .pull_4,
.push_5, .pull_5,
.push_6, .pull_6,
.push_7, .pull_7,
.push_8, .pull_8,
.push_9, .pull_9 {
	position: relative;
}

/* =Grid >> Children (Alpha ~ First, Omega ~ Last)
--------------------------------------------------------------------------------*/
.alpha {margin-left: 0;}
.omega {margin-right: 0;}

/* =Grid >> 10 Columns
--------------------------------------------------------------------------------*/
.container_10 .grid_1 {width: 76px;}
.container_10 .grid_2 {width: 172px;}
.container_10 .grid_3 {width: 268px;}
.container_10 .grid_4 {width: 364px;}
.container_10 .grid_5 {width: 460px;}
.container_10 .grid_6 {width: 556px;}
.container_10 .grid_7 {width: 652px;}
.container_10 .grid_8 {width: 748px;}
.container_10 .grid_9 {width: 844px;}
.container_10 .grid_10 {width: 940px;}

/* =Prefix Extra Space >> 10 Columns
--------------------------------------------------------------------------------*/
.container_10 .prefix_1 {padding-left: 96px;}
.container_10 .prefix_2 {padding-left: 192px;}
.container_10 .prefix_3 {padding-left: 288px;}
.container_10 .prefix_4 {padding-left: 384px;}
.container_10 .prefix_5 {padding-left: 480px;}
.container_10 .prefix_6 {padding-left: 576px;}
.container_10 .prefix_7 {padding-left: 672px;}
.container_10 .prefix_8 {padding-left: 768px;}
.container_10 .prefix_9 {padding-left: 864px;}

/* =Suffix Extra Space >> 10 Columns
--------------------------------------------------------------------------------*/
.container_10 .suffix_1 {padding-right: 96px;}
.container_10 .suffix_2 {padding-right: 192px;}
.container_10 .suffix_3 {padding-right: 288px;}
.container_10 .suffix_4 {padding-right: 384px;}
.container_10 .suffix_5 {padding-right: 480px;}
.container_10 .suffix_6 {padding-right: 576px;}
.container_10 .suffix_7 {padding-right: 672px;}
.container_10 .suffix_8 {padding-right: 768px;}
.container_10 .suffix_9 {padding-right: 864px;}

/* `Push Space >> 10 Columns
--------------------------------------------------------------------------------*/
.container_10 .push_1 {left: 96px;}
.container_10 .push_2 {left: 192px;}
.container_10 .push_3 {left: 288px;}
.container_10 .push_4 {left: 384px;}
.container_10 .push_5 {left: 480px;}
.container_10 .push_6 {left: 576px;}
.container_10 .push_7 {left: 672px;}
.container_10 .push_8 {left: 768px;}
.container_10 .push_9 {left: 864px;}

/* `Pull Space >> 10 Columns
--------------------------------------------------------------------------------*/
.container_10 .pull_1 {left: -96px;}
.container_10 .pull_2 {left: -192px;}
.container_10 .pull_3 {left: -288px;}
.container_10 .pull_4 {left: -384px;}
.container_10 .pull_5 {left: -480px;}
.container_10 .pull_6 {left: -576px;}
.container_10 .pull_7 {left: -672px;}
.container_10 .pull_8 {left: -768px;}
.container_10 .pull_9 {left: -864px;}

/* `Clear Floated Elements
----------------------------------------------------------------------------------------------------*/
/* http://sonspring.com/journal/clearing-floats */
.clear {
	clear: both;
	display: block;
	overflow: hidden;
	visibility: hidden;
	width: 0;
	height: 0;
}

/* http://www.yuiblog.com/blog/2010/09/27/clearfix-reloaded-overflowhidden-demystified */
.clearfix:before,
.clearfix:after {
	content: "\0020";
	display: block;
	overflow: hidden;
	visibility: hidden;
	width: 0;
	height: 0;
}
.clearfix:after {
	clear: both;
}
/*
The following zoom:1 rule is specifically for IE6 + IE7.
Move to separate stylesheet if invalid CSS is a problem.
*/
.clearfix {
	zoom: 1;
}
